# US Youtube Trending Videos Analysis
This notebook will load the US Youtube Trending Videos Dataset from `data` folder, and then compute and save to file in the `results` folder the following variables:
- Number of videos, channels and categories
- Mean and standard deviation of the number of views, comments, likes and dislikes
- Most popular categories

First we import useful libraries and functions, then we load data from `data` folder in a DataFrame.

In [1]:
import org.apache.spark.sql.{DataFrame, Dataset, Row, SparkSession}
import org.apache.spark.sql.functions._
import scala.util.matching
import org.apache.spark.rdd.RDD

val country = "US"
val numCountries = 0
val df = spark.read.format("csv").option("header", "true")
                .load("data/" + country + "videos_new.csv")

country = US
numCountries = 0
df = [video_id: string, trending_date: string ... 14 more fields]

[video_id: string, trending_date: string ... 14 more fields]

Visualize the first two lines of the DataFrame (including header and the first data point).

In [2]:
df.show(2)

+-----------+-------------+--------------------+---------------+-----------+--------------------+--------------------+-------+-----+--------+-------------+--------------------+-----------------+----------------+----------------------+--------------------+
|   video_id|trending_date|               title|  channel_title|category_id|        publish_time|                tags|  views|likes|dislikes|comment_count|      thumbnail_link|comments_disabled|ratings_disabled|video_error_or_removed|         description|
+-----------+-------------+--------------------+---------------+-----------+--------------------+--------------------+-------+-----+--------+-------------+--------------------+-----------------+----------------+----------------------+--------------------+
|2kyS6SvSYSE|     17.14.11|WE WANT TO TALK A...|   CaseyNeistat|         22|2017-11-13T17:13:...|     SHANtell martin| 748374|57527|    2966|        15954|https://i.ytimg.c...|            FALSE|           FALSE|                 FALSE|SHANTELL'S CHANNE...|
|1ZAPwfrtAFY|     17.14.11|The Trump Preside...|LastWeekTonight|         24|2017-11-13T07:30:...|"last week tonigh...|2418783|97185|    6146|        12703|https://i.ytimg.c...|            FALSE|           FALSE|                 FALSE|One year after th...|
+-----------+-------------+--------------------+---------------+-----------+--------------------+--------------------+-------+-----+--------+-------------+--------------------+-----------------+----------------+----------------------+--------------------+
only showing top 2 rows

Then we compute the number of channels, videos and categories.

In [3]:
val nChannels = df.select("channel_title").distinct.count
val nVideos = df.count
val nCategories = df.select("category_id").distinct.count

nChannels = 2208
nVideos = 48137
nCategories = 17

17

Here we compute the mean and standard deviation of the number of views, comments, likes and dislikes.

We use the function `df.describe()` then transform the results from `double` to `integer` type, in order to remove the decimals.
Finally we filter out the values of max, min and number of videos, which are not useful.

In [4]:
// Compute mean, stddev, max and min values of likes, dislikes, views and comment_count
val numDataDouble = df.describe("views", "comment_count", "likes", "dislikes")

import org.apache.spark.sql.types._
val numData = numDataDouble.withColumn("views", col("views").cast(IntegerType))
                           .withColumn("likes", col("likes").cast(IntegerType))
                           .withColumn("dislikes", col("dislikes").cast(IntegerType))
                           .withColumn("comment_count", col("comment_count").cast(IntegerType))
                           .filter($"summary" =!= "max")
                           .filter($"summary" =!= "min")
                           .filter($"summary" =!= "count")
//val numDataLong = numData.select(numData.columns.map(c => col(c).cast(IntegerType)) : _*)
numData.show()

+-------+-------+-------------+------+--------+
|summary|  views|comment_count| likes|dislikes|
+-------+-------+-------------+------+--------+
|   mean|2360784|         8446| 74266|    3711|
| stddev|7394113|        37430|228885|   29029|
+-------+-------+-------------+------+--------+

numDataDouble = [summary: string, views: string ... 3 more fields]
numData = [summary: string, views: int ... 3 more fields]

[summary: string, views: int ... 3 more fields]

Here we compute the most popular channels by grouping the dataset according to channels, and then ordering the dataset.

In [5]:
val groupedByChannel = df.groupBy("channel_title")
val channelsVideoCount = groupedByChannel.count()
                .withColumnRenamed("count", "num_videos")
                .orderBy(desc("num_videos"))
channelsVideoCount.show(10)

+--------------------+----------+
|       channel_title|num_videos|
+--------------------+----------+
|                null|      7188|
|                ESPN|       203|
|The Tonight Show ...|       197|
|        TheEllenShow|       193|
|             Netflix|       193|
|                 Vox|       193|
|The Late Show wit...|       187|
|   Jimmy Kimmel Live|       186|
|Late Night with S...|       183|
|      Screen Junkies|       182|
+--------------------+----------+
only showing top 10 rows

groupedByChannel = RelationalGroupedDataset: [grouping expressions: [channel_title: string], value: [video_id: string, trending_date: string ... 14 more fields], type: GroupBy]
channelsVideoCount = [channel_title: string, num_videos: bigint]

[channel_title: string, num_videos: bigint]

Here we compute the most popular categories by grouping the dataset according to categories, and then ordering the dataset.

In [6]:
val groupedByCategory = df.groupBy("category_id")
val categoriesVideoCount = groupedByCategory.count()
                .withColumnRenamed("count", "num_videos")
                .orderBy(desc("num_videos"))
categoriesVideoCount.show(10)

+-----------+----------+
|category_id|num_videos|
+-----------+----------+
|         24|      9964|
|       null|      7188|
|         10|      6472|
|         26|      4146|
|         23|      3457|
|         22|      3210|
|         25|      2487|
|         28|      2401|
|          1|      2345|
|         17|      2174|
+-----------+----------+
only showing top 10 rows

groupedByCategory = RelationalGroupedDataset: [grouping expressions: [category_id: string], value: [video_id: string, trending_date: string ... 14 more fields], type: GroupBy]
categoriesVideoCount = [category_id: string, num_videos: bigint]

[category_id: string, num_videos: bigint]

Now we load the data contained in the `.json` file, with the category ids, matched with the corresponding category names.

The `.json` file has a complex structure, which makes it necessary to perform many steps to polish the data and obtain what we need as a DataFrame.

In [7]:
// Load categories names file data
val categoriesStruct = spark.read.option("multiline","true")
                .json("data/" + country + "_category_id.json")
// extract the array inside the struct and convert to string
val categoriesArray = categoriesStruct.collect()(0)(1)
                .toString.split(",")
// extract categories names and ids
val names = categoriesArray.filter(x => x.contains("]]")).map(x => x.dropRight(2))
val ids = categoriesArray.filter(x => x.length() < 3)
// create a DataFrame out of category ids and names
val categoriesNames = sc.parallelize(ids zip names).toDF("id", "name")

categoriesNames.show(5)

+---+----------------+
| id|            name|
+---+----------------+
|  1|Film & Animation|
|  2|Autos & Vehicles|
| 10|           Music|
| 15|  Pets & Animals|
| 17|          Sports|
+---+----------------+
only showing top 5 rows

categoriesStruct = [etag: string, items: array<struct<etag:string,id:string,kind:string,snippet:struct<assignable:boolean,channelId:string,title:string>>> ... 1 more field]
categoriesArray = Array(WrappedArray(["m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKmPBggty2mZQ", 1, youtube#videoCategory, [true, UCBR8-60-B28hp2BmDPdntcQ, Film & Animation]], " ["m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45ZTFR3a3NyTA"", 2, youtube#videoCategory, [true, UCBR8-60-B28hp2BmDPdntcQ, Autos & Vehicles]], " ["m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxbknKFVe5Lmg"", 10, youtube#videoCategory, [true, UCBR8-60-B28hp2BmDPdntcQ, Music]], " ["m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-oBJavSGkfDI"", 15, youtube#videoCategory, [true, UCBR8-60-B28hp2BmDPdntcQ, Pets...

Array(WrappedArray(["m2yskBQFythfE4irbTIeOgYYfBU/Xy1mB4_yLrHy_BmKmPBggty2mZQ", 1, youtube#videoCategory, [true, UCBR8-60-B28hp2BmDPdntcQ, Film & Animation]], " ["m2yskBQFythfE4irbTIeOgYYfBU/UZ1oLIIz2dxIhO45ZTFR3a3NyTA"", 2, youtube#videoCategory, [true, UCBR8-60-B28hp2BmDPdntcQ, Autos & Vehicles]], " ["m2yskBQFythfE4irbTIeOgYYfBU/nqRIq97-xe5XRZTxbknKFVe5Lmg"", 10, youtube#videoCategory, [true, UCBR8-60-B28hp2BmDPdntcQ, Music]], " ["m2yskBQFythfE4irbTIeOgYYfBU/HwXKamM1Q20q9BN-oBJavSGkfDI"", 15, youtube#videoCategory, [true, UCBR8-60-B28hp2BmDPdntcQ, Pets...

Now we can join the two DataFrames of top categories and categories names, obtaining a DataFrame containing only categories names and number of videos belonging to that category.

In [8]:
// join the dataframes so the categories are matched with their names
val topCategories = categoriesVideoCount.join(categoriesNames, categoriesVideoCount("category_id") === categoriesNames("id"), "leftouter")
                    .orderBy(desc("num_videos"))
                    .select("name", "num_videos")
                    .filter($"name" =!= "null")

// hide the numeric column in the output.
topCategories.show()

+--------------------+----------+
|                name|num_videos|
+--------------------+----------+
|       Entertainment|      9964|
|               Music|      6472|
|       Howto & Style|      4146|
|              Comedy|      3457|
|      People & Blogs|      3210|
|     News & Politics|      2487|
|Science & Technology|      2401|
|    Film & Animation|      2345|
|              Sports|      2174|
|           Education|      1656|
|      Pets & Animals|       920|
|              Gaming|       817|
|     Travel & Events|       402|
|    Autos & Vehicles|       384|
|Nonprofits & Acti...|        57|
|               Shows|        57|
+--------------------+----------+

topCategories = [name: string, num_videos: bigint]

[name: string, num_videos: bigint]

Now that we have computed all the data we need, we can create a single-line DataFrame containing the data for this country.

We need to transform DataFrames into Lists, which is a structure that enable us to extract single values.

In [9]:
val numDataList = numData.rdd.collect().toList
val topCategoriesList = topCategories.rdd.collect().toList

val statsSeq = Seq((country, nChannels.toString, 
        nVideos.toString, nCategories.toString,
        numDataList(0)(1).toString, numDataList(1)(1).toString,
        numDataList(0)(2).toString, numDataList(1)(2).toString,
        numDataList(0)(3).toString, numDataList(1)(3).toString,
        numDataList(0)(4).toString, numDataList(1)(4).toString,
        topCategoriesList(1)(0).toString, topCategoriesList(2)(0).toString,
        topCategoriesList(3)(0).toString, topCategoriesList(4)(0).toString,
        topCategoriesList(5)(0).toString, topCategoriesList(6)(0).toString,
        topCategoriesList(7)(0).toString, topCategoriesList(8)(0).toString,
        topCategoriesList(9)(0).toString, topCategoriesList(10)(0).toString))

val statsRDD = spark.sparkContext.parallelize(statsSeq)
val statsDF = statsRDD.toDF("country", "num_channels", 
                            "num_videos", "num_categories",
                            "views_mean", "views_stddev",
                            "comments_mean", "comments_stddev",
                            "likes_mean", "likes_stddev",
                            "dislikes_mean", "dislikes_stddev",
                            "1_category", "2_category", 
                            "3_category", "4_category",
                            "5_category", "6_category", 
                            "7_category", "8_category",
                            "9_category", "10_category")
statsDF.show()

+-------+------------+----------+--------------+----------+------------+-------------+---------------+----------+------------+-------------+---------------+----------+-------------+----------+--------------+---------------+--------------------+----------------+----------+----------+--------------+
|country|num_channels|num_videos|num_categories|views_mean|views_stddev|comments_mean|comments_stddev|likes_mean|likes_stddev|dislikes_mean|dislikes_stddev|1_category|   2_category|3_category|    4_category|     5_category|          6_category|      7_category|8_category|9_category|   10_category|
+-------+------------+----------+--------------+----------+------------+-------------+---------------+----------+------------+-------------+---------------+----------+-------------+----------+--------------+---------------+--------------------+----------------+----------+----------+--------------+
|     US|        2208|     48137|            17|   2360784|     7394113|         8446|          37430|     74266|      228885|         3711|          29029|     Music|Howto & Style|    Comedy|People & Blogs|News & Politics|Science & Technology|Film & Animation|    Sports| Education|Pets & Animals|
+-------+------------+----------+--------------+----------+------------+-------------+---------------+----------+------------+-------------+---------------+----------+-------------+----------+--------------+---------------+--------------------+----------------+----------+----------+--------------+

numDataList = List([mean,2360784,8446,74266,3711], [stddev,7394113,37430,228885,29029])
topCategoriesList = List([Entertainment,9964], [Music,6472], [Howto & Style,4146], [Comedy,3457], [People & Blogs,3210], [News & Politics,2487], [Science & Technology,2401], [Film & Animation,2345], [Sports,2174], [Education,1656], [Pets & Animals,920], [Gaming,817], [Travel & Events,402], [Autos & Vehicles,384], [Nonprofits & Activism,57], [Shows,57])
statsSeq = List((US,2208,48137,17,2360784,7394113,8446,37430,74266,228885,3711,29029,Music,Howto & Style,Co...

List((US,2208,48137,17,2360784,7394113,8446,37430,74266,228885,3711,29029,Music,Howto & Style,Co...

Finally, we save the final DataFrame to file, in the `results` folder.

We use the function `repartition(1)` in order to generate only one file, instead of separating the data into several different files.

In [10]:
statsDF.repartition(1)
             .write
             .format("csv")
             .option("header", "true")
             .save("results/partial_" + (numCountries + 1).toString)